input[type=range] {
  -webkit-appearance: none;
  margin: 15px 0 5px 0;
  width: 100%;
  background: none;

  &:focus {
    outline: none;
  }

  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: none;
    border-bottom: 1px dashed black;
  }

  &::-webkit-slider-thumb {
    background: url("/favicon.ico") no-repeat;
    background-size: contain;

    height: 30px;
    width: 30px;
    cursor: pointer;

    -webkit-appearance: none;

    transform: translateY(-15px);
    transition: transform .25s ease-in-out;
  }

  &:hover::-webkit-slider-thumb {
    transform: translateY(-20px);
  }
}
